* {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Overpass', sans-serif;
    letter-spacing: 0.5px;
    background-color: purple;
}
nav { 
    display: flex;
    justify-content: right;
    margin: 50px;
}
#navMenu > span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: black;
}
#navMenu > span:not(:last-child) {
    margin-bottom: 7px;    
}
#navMenu, #navMenu > span {
    transition: all .4s ease-in-out;
}
#navMenu.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
}
#navMenu.active > span:nth-child(2) {
    width: 0;
}
#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3) {
    transition-delay: .4s;
}
#navMenu.active > span:nth-child(1) {
    transform: translateY(9px);
}
#navMenu.active > span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

section {
    flex-direction: column;
    background-image: linear-gradient(to right, #ec939a, #b4bce4, #b4b7be);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-width: 500px;
    border-top-right-radius: 50px;
}

#foto {
    background-color: rgb(219, 197, 197);
    padding: 3px;
    border-radius: 50%;
    width: 100px;
    right: 100px;
    margin: 24px;
}

img {
    background-color: rgb(219, 197, 197);
    padding: 3px;
    border-radius: 50%;
    width: 40px;
    right: 40px;
    margin: 5px;
    margin-bottom: 24px;
}

ul {
    display: flex;
    justify-content: space-around;
}
    

p {
    color: #dd646e;
    margin: 24px;
}

footer {
    background-color: #dd646e;
    text-align: center; 
    width: 100%;  
    min-width: 520px;
}